<!DOCTYPE html>
<html>
<head>
	<title>Anime_Wiki</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Titan+One" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/stylesheets/fade.js"></script>
</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container">
			<div class="navbar-header">
  				<a class="navbar-brand" href="/"><i class="fab fa-empire"></i> Anime_Wiki</a>
  				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    			<span class="navbar-toggler-icon"></span>
  				</button>
			</div>
        <div class="collapse" id="navbarToggleExternalContent">
          <div class="bg-dark p-1">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/anime_list">List<span class="sr-only">(current)</span></a>
              </li>
            </ul>
          </div>
        </div>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/anime_list">List<span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    		<ul class="navbar-nav justify-content-center">
          <% if (!currentUser) { %>
          <li class="nav-item">
              <a class="nav-link clicklog" href="#" data-toggle="modal" data-target="#login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link clickreg" href="#" data-toggle="modal" data-target="#register">Sign Up</a>
            </li>
            <% } else { %>
            <li class="nav-item">
               <a class="nav-link active" href="#"><%= currentUser.username %></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
            <% } %>
            
    		</ul>
    	</div>
	</nav>
<!-- LOGIN -->
  <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header" align="center">
          <h4 class="modal-title" id="myModalLabel">Anime_Wiki</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="glyphicon glyphicon-remove" aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="div-forms">
          <form id="login-form" action="/login" method="post">
            <div class="modal-body">
              <div id="div-login-msg">
                <div id="icon-login-msg" class="glyphicon glyphicon-chevron-right"></div>
                <span id="text-login-msg">Type your username and password.</span>
              </div>
              <input id="login_username" class="form-control" type="text" placeholder="Username" name="username" required>
              <input id="login_password" class="form-control" type="password" placeholder="Password" name="password" required>
            </div>
            <div class="modal-footer">
              <div>
                <button type="submit" value="Log In" class="btn btn-primary btn-lg btn-block">Login</button>
              </div>
              <div>
                <button data-toggle="modal" data-target="#register" id="login_register_btn" type="button" class="btn btn-link">Register</button>
              </div>
            </div>
          </form>
          
        </div>
      </div>
    </div>
  </div>

<!-- Sign Up -->

 <div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="myModal" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header" align="center">
          <h4 class="modal-title" id="myModal">Anime_Wiki</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="glyphicon glyphicon-remove" aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="div-forms">
          <form id="register-form" action="/register", method="POST">
            <div class="modal-body">
              <div id="div-register-msg">
                <div id="icon-register-msg" class="glyphicon glyphicon-chevron-right"></div>
                <span id="text-register-msg">Register an account.</span>
              </div>
              <input id="register_username" class="form-control" type="text" placeholder="Username" name="username" required>
              <input id="register_password" class="form-control" type="password" placeholder="Password" name="password" required>
            </div>
            <div class="modal-footer">
              <div>
                <button type="submit" class="btn btn-primary btn-lg btn-block">Register</button>
              </div>
              <div>
                <button data-toggle="modal" data-target="#login" id="register_login_btn" type="button" class="btn btn-link">Log In</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

<!-- Allert -->

<div class="container">
  <% if (success && success.length>0) { %>
  <div class="alert alert-success" role="alert">
    <%= success %>
  </div>
  <% } %>
  <% if (error && error.length>0) { %>
  <div class="alert alert-danger" role="alert">
   <%= error %>
  </div>
  <% } %>
</div>
