<% include ./partials/header %>

<link rel="stylesheet" type="text/css" href="/stylesheets/home.css">

<div class="container">
	<div class="jumbotron, center">
  		<h1 class="display-4"><i class="fab fa-empire"></i> Anime_Wiki</h1>
  		<p class="lead">This is the place, where were collected all of your favorite anime heroes</p>
  		<a class="btn btn-warning btn-lg" href="/anime_list" role="button">Watch them all!!!</a>
	</div>
</div>

<% include ./partials/footer %>