body {
	background-image: url(https://images.alphacoders.com/846/thumb-1920-84631.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100vh;
}

.center{
	padding-top: 15vh;
	text-align: center;
     text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px  rgba(0,0,0,0.1),
                 0px 18px 23px  rgba(0,0,0,0.01);
	font-family: 'Titan One', cursive;
	font-size: 2.5em;
}

.center h1{
	padding-bottom: 53px;
	color: #fff;
	font-size: 2.5em;

}

.center p{
	padding-bottom: 20%;
	color: #fff;
	
}

.btn-warning{
	letter-spacing: 1px;
	border-radius: 20px;
	box-shadow: 0 6px #D5B205;
	margin-top: 50px;
}

.btn-warning:hover{
	box-shadow: 0 2px #D5B205;
	margin-top: 52px;
	
}